@tailwind base;
@tailwind utilities;


@layer base {
    :root {
        --main-text-color: #25323D;
        --text-color:#58748A;
        --accent-color : #AF48FF;
        --main-bg-color: #F5EDFF; 
        --body-bg: linear-gradient(180deg, #F8F2FF 0%, rgba(250, 250, 250, 0.00) 41.59%); 
        --tw-gradient-stops: #F8F2FF 0%, rgba(250, 250, 250, 0.00) 40%;
        --shad-1: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
        --shad-2: 21px 15px 39px 7px rgba(25, 25, 46,0.04);
        --footer-bg-color: #FBF8FF9C;
        --project-type-color: #22AD59;
        --tech-shadow:  0px 22.941890716552734px 13.76513385772705px 0px rgba(0, 59, 108, 0.06);
    }

    body {
        font-family: Inter, system-ui;
    }

    .shadow-1 {
        box-shadow: var(--shad-1);
    }

    .shadow-2 {
        box-shadow: var(--shad-2);
    }

    .tech-shadow {
        box-shadow: var(--tech-shadow);
    }

    .text-main {
        color: var(--main-text-color)
    }

    .text-2nd {
        color: var(--text-color)
    }

    .main-button {
        @apply py-[6px] px-[14px] bg-[var(--text-color)] hover:bg-[var(--accent-color)] w-max rounded-full  text-white transition duration-150 ease-linear
    }

    .secondary-button {
        @apply text-main underline hover:text-[var(--accent-color)] transition duration-150 ease-linear
    }
    
    

    /* Skill Position */
    #\30 {
        /* top: 0;
        left: 0;
        transform: translate(-55%, -50%); */
        top: -30px;
        left: -30%;
    }
    #\31 {
        /* bottom: -20px; */
        top: calc(100% + 20px);
        left: -42px;
        /* transform: translateY(100%); */
    }
    #\32 {
        top: 25%;
        right: 83%;
    }
    #\33 {
        top: 15%;
        left: 80%;
    }
    #\34 {
        /* bottom: 36px;
        right: 24px;
        transform: translateX(100%); */
        bottom: 36px;
        left: calc(100% - 24px);
      }
    #\35 {
        right: calc(100% + 13px);
        bottom: 36px;
    }
    
    #\36 {
        /* bottom: -14px; */
        left: 52%;
        /* transform: translateY(100%); */
        top: calc(100% + 14px);
    }
    #\37 {
        left: -77%;
        top: -50%;
      }

    #\38 {
        /* top: -14px; */
        top: -34%;
        left: 48%;
        /* transform: translate(0, -109%); */
    }

    .tilt {
        all: unset;
        background: none !important;
        box-shadow: none !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}